---
import { getCollection } from "astro:content";
import Header from "@organisms/header.astro";
import Footer from "@organisms/footer.astro";
import Layout from "@layout";
import Main from "@templates/main.astro";
import Tag from "@atoms/tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Categorias | ${SITE.title}`}>
  <Header activeNav="categorias" />
  <Main pageTitle="Categorias" pageDesc="Todas as categorias do blog.">
    <ul>
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
lib/utils/getUniqueTags