---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layout";
import Main from "@templates/main.astro";
import Header from "@organisms/header.astro";
import Footer from "@organisms/footer.astro";
import SearchBar from "@molecules/search";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<Layout title={`Pesquisa | ${SITE.title}`}>
  <Header activeNav="pesquisa" />
  <Main pageTitle="Pesquisa" pageDesc="Pesquise qualquer termo ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
